<section class="container p-5 section">
	<h1 class="text-center text-light p-5 head">Burger Space</h1>


	<h2 class="m-t-5 text-light">Add A Burger</h2>

	<div class="row p-5">
		<div class="col-sm-8">
			<form action="/api/burgers" method="POST">
				<input type="text" id="name" name="burger_name" placeholder="Delicious Burger">
				<button type="submit" class="btn btn-dark">Add The Burger</button>
			</form>
		</div>
	</div><br>



	<div class="row">
		<div class="col-sm-6">
			<h2 class="text-light">Burgers to devour</h2><br><br>

			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<div>
					<h4 class="text-light">{{this.burger_name}}</h4>

					<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
						<button type="submit" class='btn btn-dark'> Click to Devour!</button>
					</form><br>
				</div>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-sm-6">
			<h2 class="text-light">Devoured Burgers</h2><br><br>

			<ul>
				{{#each burgers}}
				{{#if this.devoured}}
				<div class='burgerEaten'>
					<div>
						<li><h4 class="text-light">    {{this.burger_name}}</h4><br></li>
					</div>
				</div>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</section>