<section class="container bg-info p-5">
	<h1 class="text-center bg-dark text-light p-5">Burgers <img src="../public/assets/img/download.jpg" width="200px"
			id="cute_burger"></h1>


	<h2 class="m-t-5">Add A Burger Option</h2>

	<div class="row p-5">
		<div class="col-sm-8">
			<form action="/api/burgers" method="POST">
				<input type="text" id="name" name="burger_name" placeholder="Delicious Burger">
				<button type="submit" class="btn btn-dark">Add The Burger</button>
			</form>
		</div>
	</div><br>



	<div class="row">
		<div class="col-sm-6">
			<h2>Burgers to devour</h2>

			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<div>
					<h4 class="text-dark">{{this.burger_name}}</h4>
					<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
						<button type="submit" class='btn btn-dark'> Click to Devour!</button>
					</form>
				</div>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-sm-6">
			<h2>Devoured Burgers</h2>

			<ul>
				{{#each burgers}}
				{{#if this.devoured}}
				<div class='burgerEaten'>
					<div>
						<h4 class="text-dark">{{this.burger_name}}</h4>
					</div>
				</div>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</section>